<script src="/js/attacks.js"></script>
<table class="attacks table table-bordered table-condensed">
	<tr>
		<th>Timestamp</th>
		<th>Source IP</th>
		<th>Target IP</th>
	</tr>
</table>
<small class="bottom-right"></small>
