<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Atenta</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="/css/slate.min.css">-->
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-default" role="navigation" id="navbar">
				<a class="navbar-brand" href="/">Atenta</a>
			</nav>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8"><%=yield%></div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</body>
</html>
